.front{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url("../assets/front.avif");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.front-text{
    text-align: center;
    max-width: 800 px;

}
.front-text h1{
    color: aliceblue;
    font-size: 80px ;
    font-weight: 700;
}
.front-text h2{
    color: aliceblue;
    margin: 10px auto 20px;
    line-height: 1.4;
}
.form-container {
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    background-color: #d3d3d3; /* Light gray */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.form-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Darker text */
}

input[type] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #cdc0c0; /* Light brownish-gray */
    box-sizing: border-box;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #1d4877; /* Blue */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: #0056b3; /* Darker blue */
}
@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}

.offers{
    margin : 100px auto;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    

}
.package-row{
    display: flex;
    justify-content: space-between;
}
.package{
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: #d3d3d3; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 24.3%;
    height: 250px;
    border: 3px solid #860d0d; 
  
}
.package-title {
    font-size: 25px;
    font-weight: bold;
    color: #8b0000; 
    margin-bottom: 10px;
}
.title {
    margin-top: 20px;
    margin-left: 36%;
    font-size: 40px;
    font-weight: bold;
    color: #8b0000; 
    margin-bottom: 20px;
    
}
h4{
    text-decoration: line-through;
}


   